.fundo {
    color: white;
    background-color: rgba(0, 0, 0, 0.568);
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
}
table {
    margin: auto;
    margin-top: 50px;
}
table :hover {
    background-color: rgb(0, 9, 87);
    color: white;
}
h1 {
    color: rgb(50, 63, 179);
    text-align: center;
}
body {
    background-color: #011c33;
}